<!doctype html>
<html>
  <head>
    <title>{{title}}</title>
    <!-- <link href="https://fonts.googleapis.com/css?family=Baloo+Chettan" rel="stylesheet"> -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    <link href="/style/main.css" rel="stylesheet">
    {{#if showTests}}
    <link href="/vendor/mocha.css" rel="stylesheet">
    {{/if}}
    <script src="//code.jquery.com/jquery-2.0.2.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style> .glyphicon-thumbs-up { cursor:pointer } </style>
  </head>
  <body>
    <div style="margin-top:0px" class="container">
      {{#if msg}}
      <center><p style="font-size:11pt;text-align:center;color:olive">{{msg}}</p>
      </center>
      {{/if}}
      
      <center>
      <table style="width:240px">
	<tr>
	  <td style="align:left">
	    {{#if nick}}
	    <div class="dropdown" style="margin-right:0px;vertical-align:middle">
	      <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
		<span class="caret"></span></button>
	      <ul class="dropdown-menu">
      		<li><a id="inicio" href="/">Inicio</a></li>
      		<li><a id="chat" href="/chat">Chat</a></li>
      		<li><a id="comentarios" href="/comments">Comentarios</a></li>
      		<li><a id="busquedas" href="/searches">Búsquedas</a></li>
	      </ul>
	    </div>
	  {{/if}}
	  </td>
	  <td style="align:right">
	    <a href="/"><img src="./small.png"/></a>
	  </td>
	</tr>
      </table>
      </center>
	    
      <br/>
      {{{body}}}

      {{#if nick}}
      <br/>
      <a href="/signout" style="width:240px;text-align:left" class="btn btn-danger btn-lg">
	<span class="glyphicon glyphicon-log-out" style="margin-right:30px"></span> Bye {{nick}}
      </a>
      <br/>
      <br/>
      <a href="/changePassword" style="width:240px;text-align:left" class="btn btn-warning btn-lg">
	<span class="glyphicon glyphicon-user" style="margin-right:30px"></span>  Cambiar password
      </a>
      <br/>
      {{/if}}

    </div>
    <!-- <br/> -->
    <!-- <a href="/"> -->
    <!--   <img style="width:220;height:169" src="/logo.png" alt="ijif"/> -->
    <!-- </a> -->
    {{#if showTests}}
    <div id="mocha"></div>
    <script src="/vendor/mocha.js"></script>
    <script src="/vendor/chai.js"></script>
    <script>
      mocha.ui('tdd');
      var assert = chai.assert;
    </script>
    <script src="/qa/global-tests.js"></script>
    {{#if pageTestScript}}
    <script src="{{pageTestScript}}"></script>
    {{/if}}
    <script>mocha.run();</script>
    {{/if}}
    
    <script src="./gscripts.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-82908658-1', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>
 
  
