<div class="container">


  <a name="searchForm"></a>
  <input id="q" style="width:240px;" name="q" class="form-control" placeholder="Términos de búsqueda" required></input>
  <br/>
  <button style="width:240px;" class="btn btn-lg btn-primary btn-block" 
	  onclick="searchScript($('#q').val());" type="submit">
    <span class="glyphicon glyphicon-search" style="margin-right:30px"></span>Buscar en infojobs</button>
  <br/>
  <button style="width:240px;" class="btn btn-lg btn-success primary btn-block" 
	  onclick="payScript($('#q').val());" type="submit">
    <span class="glyphicon glyphicon-euro" style="margin-right:30px"></span>Media de salarios</button>
  
  <div id="pays"></div>

  {{#if nick}}

  <div id="offers">
    <!-- <h1 style="color:olive"><i>Consultadas recientemente:</i></h1> -->
    {{#each offers}}
    <h1><a href="/offer/{{this.id}}">{{this.title}}</a></h1>
    <p style="text-align:right;color:olive"><i>Consultada por {{this.nick}} - {{this.idate}}</i></p>
    {{/each}}
  </div>

{{#if moreOffers}}
  <input type="hidden" value="{{moreOffers}}" id="offset"/>
  <button style="width:240px;" class="btn btn-lg btn-primary btn-block" 
	  onclick="moreOffers($('#offset').val());">
    ofertas anteriores ...</button>

{{/if}}
  

  <!-- <br/> -->
  <!-- <a href="/chat" style="width:240px;text-align:left" class="btn btn-success btn-lg"> -->
  <!--   <span class="glyphicon glyphicon-fire" style="margin-right:30px"></span> Chat -->
  <!-- </a> -->
  <!-- <br/> -->

  <!-- <a href="/sendLink" style="width:240px;text-align:left" class="btn btn-primary btn-lg"> -->
  <!--   <span class="glyphicon glyphicon-send" style="margin-right:30px"></span> Enviar link -->
  <!-- </a> -->
  {{else}}
  <div id="offers"></div>
  <br/>
  <a href="/signin" style="width:240px;text-align:left" class="btn btn-primary btn-lg">
    <span class="glyphicon glyphicon-eye-open" style="margin-right:30px"></span> Identificarse
  </a>
  <br/>
  <br/>
  <a href="/signup" style="width:240px;text-align:left" class="btn btn-success btn-lg">
    <span class="glyphicon glyphicon-hand-up" style="margin-right:30px"></span> Registrarse
  </a>
  {{/if}}
  {{content}}
</div>
<script src="/searchScripts.js"></script>
<script src="/gscripts.js"></script>


