<div class="container">
  <h1><a href="{{link}}">{{title}}</a></h1>
  <br/>
  <center>{{city}} - {{province}}</center>
  {{company}}
  <br/>
  {{#if minPay}}
  <br/>
  {{minPay}} € - {{maxPay}} €
  <br/>
  {{/if}}
  
  {{#if studiesMin}}
  <br/>
  {{studiesMin}}
  <br/>
  {{/if}}
  
  {{#if minRequirements}}
  <br/>
  {{minRequirements}}
  <br/>
  {{/if}}
  
  <br/>
  <p><i>{{description}}</i></p>
  <hr/>
  {{#if nick}}
  {{#if comments}}
  <h1>Comentarios</h1>

  {{#each comments}}
  <a name="c{{this.id}}"></a>
  <p>{{this.comment}}</p>
  <p style="text-align:right;color:olive"><i>Enviado por {{this.nick}} - {{this.idate}}</i></p>
  <hr/>
  {{/each}} 
  {{else}}
  <i style="color:olive">Esta oferta aún no tiene comentarios ¡Anímate y aporta el tuyo!</i><br/><br/>
  {{/if}}


  <form class="form-signin" method="POST" enctype="application/x-www-form-urlencoded" action="/postComment">
    <input type="hidden" name="offerId" value="{{offerId}}"/>
    <textarea style="width:240px" id="comment" name="comment" class="form-control" 
	      placeholder="Comentario" rows="8" 
	      required>{{linkComment}}</textarea>
    <br/>
    <button style="width:240px" class="btn btn-lg btn-primary btn-block" type="submit">Comentar</button>
  </form>
  {{else}}

  <i style="color:olive">Sólo los usuarios registrados pueden ver los comentarios ...</i><br/><br/>
  <br/>
  <a href="/signin" style="width:240px;text-align:left" class="btn btn-primary btn-lg">
    <span class="glyphicon glyphicon-eye-open" style="margin-right:30px"></span> Identificarse
  </a>
  <br/>
  <br/>
  <a href="/signup" style="width:240px;text-align:left" class="btn btn-success btn-lg">
    <span class="glyphicon glyphicon-hand-up" style="margin-right:30px"></span> Registrarse
  </a>

  {{/if}}
</div>
