<br/>
{{#each offers}}
{{#if this.title}}
<a href="{{this.link}}">{{this.title}}</a>
<br/>{{this.city}} 
{{#if this.salaryMin.value}}
{{this.salaryMin.value}}
{{/if}} -
{{#if this.salaryMax.value}}
{{this.salaryMax.value}}
{{/if}}
<br/>
{{this.author.name}} - ({{this.applications}} candidatos)
<br/>
<br/>
{{/if}}
{{/each}}
