<br/>
{{#each offers}}
{{#if this.title}}
<form id="{{this.id}}" action="/storeOffer" method="post">
  <input type="hidden" name="ijid" value="{{this.id}}" />
  <a href="#" onclick="document.getElementById('{{this.id}}').submit();">{{this.title}}</a>
</form>

<br/>{{this.city}} 
{{#if this.salaryMin.value}}
{{this.salaryMin.value}}
{{/if}} -
{{#if this.salaryMax.value}}
{{this.salaryMax.value}}
{{/if}}
<br/>
{{this.author.name}} - ({{this.applications}} candidatos)
<br/>
<br/>
<br/>
{{/if}}
{{/each}}
