<div class="container">
  {{#if nick}}

  <a name="searchForm"></a>
  <input id="q" style="width:240px;" name="q" class="form-control" placeholder="Términos de búsqueda" required></input>
  <br/>
  <button style="width:240px;" class="btn btn-lg btn-primary btn-block" 
	  onclick="searchScript($('#q').val());" type="submit">
    <span class="glyphicon glyphicon-search" style="margin-right:30px"></span>Buscar en infojobs</button>
  <br/>
  <button style="width:240px;" class="btn btn-lg btn-success primary btn-block" 
	  onclick="payScript($('#q').val());" type="submit">
    <span class="glyphicon glyphicon-euro" style="margin-right:30px"></span>Media de salarios</button>
  
  <div id="pays"></div>

  <div id="offers"></div>

  <br/>
  {{#if cloud}}
  <div class="tag">
    <p>{{{cloud}}}</p>
  </div>
  {{/if}}

  <div id="searches">
    <h1 style="color:olive"><i>Últimas búsquedas:</i></h1>
    {{#each searches}}
    {{#if this.keywords}}
    <h1><a href="#searchForm" onclick="$('#q').val('{{this.keywords}}')">{{this.keywords}}</a></h1>
    <p style="text-align:right;color:olive"><i>Por {{this.nick}} - {{this.idate}}</i></p>
    {{/if}}
    {{/each}}
  </div>

  <br/><br/>
  {{else}}
  <br/>
  <a href="/signin" style="width:240px;text-align:left" class="btn btn-primary btn-lg">
    <span class="glyphicon glyphicon-eye-open" style="margin-right:30px"></span> Identificarse
  </a>
  <br/>
  <br/>
  <a href="/signup" style="width:240px;text-align:left" class="btn btn-success btn-lg">
    <span class="glyphicon glyphicon-hand-up" style="margin-right:30px"></span> Registrarse
  </a>
  {{/if}}
</div>
<script src="/searchScripts.js"></script>
